<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMfmIss4WRYaH32T5XitNKR5CwMF0K6gg</string>
	<key>GCM_SENDER_ID</key>
	<string>738434931916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salihozgn.firstProject</string>
	<key>PROJECT_ID</key>
	<string>firstprojectios-7d547</string>
	<key>STORAGE_BUCKET</key>
	<string>firstprojectios-7d547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738434931916:ios:751092071fe3ddbe15b669</string>
</dict>
</plist>